footer.footer
  .container
    .footer__links
      a.footer__link(href="") TOP
      a.footer__link(href="") FEATURES
      a.footer__link(href="") NEWS
    span.footer__copyright © 2010 - 2025 EDWIN CO.,LTD.
