header.header
  .container.header__container
    a(href="")
      img.header__logo(src="/public/img/logo_wrangler.svg", alt="Wrangler")
    nav.header__nav
      a.header__link(href="") FEATURES
      a.header__link(href="") NEWS