@use 'settings/font-weight' as fw;
@use 'settings/color' as color;

.top {
  &__mv {
    font-size: 0;
    position: relative;
  }

  &__mv-logo {
    position: absolute;
    right: 100px;
    bottom: 40px;
    z-index: 1;
    width: 64%;
  }

  &__video {
    width: 100%;
    height: 1080px;
  }

  &__intro {
    display: block !important;
    padding: 90px 0;
    text-align: center;
  }

  &__intro-text {
    font-size: 1.6rem;

    &--en {
      font-weight: fw.$bold;
      margin-top: 40px;
    }
  }

  &__product {
    max-width: 1620px;
    margin: 0 auto 150px;
  }

  &__product-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__product-date {
    position: absolute;
    left: -20px;
    top: 100px;
    font-size: 14rem;
    font-weight: fw.$bold;
  }

  &__product-left {
    width: 39%;
    max-width: 619px;
  }

  &__product-link {
    overflow: hidden;
    height: 858px;

    &--large {
      height: 1314px;
    }

    img {
      transition: 0.3s ease;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }

  &__product-right {
    width: 59%;
  }

  &__product-link-group {
    position: absolute;
    bottom: -40px;
    left: 0;
    display: flex;
    gap: 10px;
    font-size: 1.6rem;
  }

  &__link-group {
    transition: 0.3s ease;

    &:hover {
      color: #ef0000;
    }
  }

  &__popup-show {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1100;
    background-color: color.$white;
    padding: 50px 110px;

    &.show {
      display: block;
    }
  }

  &__popup-container {
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__popup-date {
    font-size: 14rem;
    font-weight: fw.$bold;
    margin-bottom: 50px;
  }

  &__popup-link {
    display: block;
    transition: 0.3s ease;

    &:hover {
      color: #ef0000;
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__popup-category {
    display: block;
    font-weight: fw.$bold;
    margin-bottom: 4px;
    font-size: 1.2rem;
  }

  &__popup-subcategory {
    font-size: 1.8rem;
    font-weight: fw.$bold;
  }

  &__popup-info {
    font-size: 1.2rem;
  }

  &__popup-slider {
    width: 506px;
  }

  &__popup-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 110px;
  }
}
